* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-style: normal;
    list-style-type: none;
    color: black;
    border-collapse: collapse;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 1rem;
    width: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}